.box {
    display: flex;
    flex-direction: column;
    span {
        font-size: 20px;
    }
}
.button {
    margin: 20px 0;
    text-align: center;
    button {
        width: 150px;
    }
}

.learnImg {
    margin: 20px 0;
    width: 300px;
    height: 150px;
    img {
        width: 300px;
        height: 150px;
        object-fit: cover;
    }
}
