.cover {
    width: 310px;
    .coverImg {
        img {
            width: 310px;
            height: 120px;
            object-fit: cover;
        }
    }
    .label {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
}
.error {
    color: red;
    font-size: 14px;
    height: 22px;
}
